@import "./fonts";

:root {
  --width-base: 1920;
  --width-current: 1680px;
  --width-multiplier: var(--width-current) / var(--width-base);

  @media (max-width: 1920px) {
    --width-current: 100vw;
  }

  @media (max-width: 1024px) {
    --width-base: 375;
    --width-current: 100vmin;
  }
}


.container {
  width: 100%;
  max-width: calc(1400 * var(--width-multiplier));

  @media (max-width: 1024px) {
    padding: 0 calc(15 * var(--width-multiplier));
  }
}
