@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@import './fonts';

:root {
  --width-base: 1920;
  --width-current: 1920px;
  --width-multiplier: var(--width-current) / var(--width-base);

  @media (max-width: 1920px) {
    --width-current: 100vw;
  }

  @media (max-width: 1024px) {
    --width-base: 375;
    --width-current: 100vmin;
  }
}

@theme {
  --spacing: var(--width-multiplier);
  --default-font-family: "Montserrat", "Arial", "sans-serif";
  --text-xl: calc(18 * var(--width-multiplier));
  --text-base: calc(14 * var(--width-multiplier));
  --text-sm: calc(12 * var(--width-multiplier));
  --text-xs: calc(8 * var(--width-multiplier));
  --color-zinc-850: oklch(0.2646 0.0057 271.2);
}

html {
  @apply h-full;
}
body {
  @apply h-full;
}
#app {
  @apply h-full;
}
main {
  @apply h-full;
}

html {
  font-size: 14px;
}


.container {
  width: 100%;
  max-width: calc(1400 * var(--width-multiplier));

  @media (max-width: 1024px) {
    padding: 0 calc(15 * var(--width-multiplier));
  }
}

.p-inputnumber input, .p-inputtext {
  width: 100%;
}
